<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="eclipse.errors.log.sending.ui.helpMenu"
         name="HelpMenu"
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:help">
         <command
               commandId="eclipse.errors.log.sending.ui.command.sendCommand"
               id="eclipse.errors.log.sending.ui.command.sendCommand"
               label="Отправить отчёт об ошибке"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         id="eclipse.errors.log.sending.ui.command.helpCommands"
         name="HelpCommands"
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eclipse.errors.log.sending.ui.command.SendCommand"
            description="Отправить отчёт об ошибке"
            id="eclipse.errors.log.sending.ui.command.sendCommand"
            name="sendCommand">
      </command>
   </extension>
   <extension
         id="eclipse.errors.log.sending.ui.PreferencePages"
         name="PreferencePages"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.help.ui.browsersPreferencePage"
            class="eclipse.errors.log.sending.ui.email.EmailPreferencePage"
            id="eclipse.errors.log.sending.ui.email.emailPreferencePage"
            name="Отчёты об ошибках">
      </page>
   </extension>
   <extension
         id="eclipse.errors.log.sending.ui.preferences"
         name="Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eclipse.errors.log.sending.ui.email.EmailPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
